body{
  font-family: arial,sans-serif;
}

body{
  margin: 0 auto;
  background-image: url("../img/loginbackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  background-attachment: fixed;
}
/*#nav {
  width: 700px;
  height: 200px;
  background: #ccc;
}*/
#nav_wrapper{
  height: 100px;
  width: 900px;
  background: #377D7A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  /*opacity: 0.8;
  filter:alpha (opacity=80);*/
  background-color: rgba(45, 64, 82, 0.7);
  border-radius: 5px;
}
#nav_wrapper ul li{
  list-style: none;
  display: inline;
  font-weight: bold;
  padding: 15px;
}
#nav_wrapper a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
#nav_wrapper ul li:hover{
  background: red;
  transition: all 0.45s;
  border-radius: 4px;
  background-color: rgba(27, 39, 49, 0.7);
  /*opacity: 0.9;
  filter:alpha (opacity=90);*/
}
.container{
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 150px;
}
.container img{
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: : 30px;
  border-radius: 4px;
}
.box{
  width: 800px;
  height: 2080px;
  text-align: center;
  background-color: rgba(246,246,246, 0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 30px;
}
.box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.boxhome{
  width: 600px;
  height: 580px;
  text-align: left;
  background-color: rgba(246,246,246, 0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 10px;
}
.boxhome2{
    width: 600px;
  height: 420px;
  text-align: left;
  background-color: rgba(246,246,246, 0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 10px;
}
.box1{
  width: 600px;
  height: 900px;
  text-align: left;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
}

input[type="text"],input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  margin-left: 100px;
  border-radius: 4px;
  background-color: #fff;
}
.btn-login{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-left: 100px;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
  margin-bottom: 20px;
}
.btn-home{
  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-left: 228px;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
  margin-bottom: 20px;
}
p{
  color: #000000;
  text-align: center;
}
h4{
  text-align: center;
  font-weight: bold;
}
h2{
  text-align: center;
}
.header{
  background-color: #364d62;
  color: white;
  text-align: center;
  top: 0px;
  width: 1910px;
  padding: 5px;
  position: fixed;
}
.bottomhome{
  background-color: rgba(45, 64, 82, 0.7);;
  color: white;
  text-align: center;
  top: 843px;/*878*/
  width: 1910px;
  height: 120px;
  padding: 5px;
  position: fixed;
}
