body{
	
	background-image: url("Home.jpg"); 
	background-size: 100% 1000px;
	background-repeat: no-repeat;
}
div {
	
	
	 color: black;
	 font-family: "Times New Roman", Times, sanserifserif;
	 font-style: bold;
	 font-size: 25px;
	  
}
h1
{
	text-align: justify;
	color: red;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	border: 6px double #949599;
	border-radius: 50px;
	height: 100px;
	margin: 20px;
	padding: 20px;
	width: 400px:
	
	
	
}
.Dimension:before,
.Dimension:after {
	content: "for= "size""
	display: table;
}
.Dimension:after {
	clear: both;
}
.Dimension{
	clear:both;
	*zoom: 1;
}
size {
	float: left
	margin: 0 1.5%;
	width: 63%;
}
calcost {
	float: right;
	margin: 0 21.5%;
	width: 30%;
}


